<ion-view title="Accession.health" id="page1" style="background-color:#default;">
  <ion-content padding="true" class="has-header">
    <ion-list id="accessionHealth-list2">
      <ion-item class="item-avatar positive" id="accessionHealth-list-item4">
        <img src="img/cBate94DT5K56EFGI13i_logo-transparent.png">
        <h2positive>USE YOUR SKILLS!
          <p style="white-space:normal;">Accession.health is a sharing approach to making money as a qualified accessioner. Sign up, then accession specimens online, from your home or anywhere.</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-icon-left" id="accessionHealth-list-item11" ui-sref="menu.signup()">
        <i class="icon ion-android-add"></i>Signup</ion-item>
      <ion-item class="item-icon-left" id="accessionHealth-list-item13" ui-sref="menu.login()">
        <i class="icon ion-log-in"></i>Login or Logout</ion-item>
      <ion-item class="item-icon-left" id="accessionHealth-list-item28">
        <i class="icon ion-ionic"></i>Message an Employer</ion-item>
      <ion-item class="item-icon-left" id="accessionHealth-list-item29">
        <i class="icon ion-ionic"></i>Check Your Hours</ion-item>
      <ion-item class="item-icon-left" id="accessionHealth-list-item30" ui-sref="menu.availability()">
        <i class="icon ion-ionic"></i>Your Profile</ion-item>
      <ion-item class="item-avatar" id="accessionHealth-list-item14" ui-sref="menu.activity()">
        <img src="img/jPz1PmMjRvM464CAuriw_logo-transparent.png">
        <h2>Start Working</h2>
        <p>Get Jobs and Make Money!</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>