<ion-view title="Activity" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="activity-list7">
      <ion-item class="item-icon-left" id="activity-list-item21">
        <i class="icon ion-android-arrow-down"></i>Accept Job
        <span class="item-note">One Time</span>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="activity-list-item22">
        <img src="img/iQGrWhdtR9WaTb55hu5D_upload.jpg">
        <h2>Accept Job</h2>
      </ion-item>
      <ion-item class="item-icon-left" id="activity-list-item23" ui-sref="menu.page()">
        <i class="icon ion-android-upload"></i>Push Job
        <span class="item-note">Auto Accession</span>
      </ion-item>
      <ion-item class="item-icon-left" id="activity-list-item24" ui-sref="menu.page()">
        <i class="icon ion-android-upload"></i>Push Job
        <span class="item-note">Lab Accession</span>
      </ion-item>
      <ion-item class="item-icon-left" id="activity-list-item17" ui-sref="menu.reviewDocumentation()">
        <i class="icon ion-android-document"></i>Review/Edit
        <span class="item-note">Documentation</span>
      </ion-item>
      <ion-item class="item-icon-left" id="activity-list-item15" ui-sref="menu.page()">
        <i class="icon ion-erlenmeyer-flask"></i>Review
        <span class="item-note">Fluid Image</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>