<ion-view title="Hours" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="hours-form12" class="list">
      <label class="item item-input" id="hours-input17">
        <span class="input-label">Month</span>
        <input type="date" placeholder="">
      </label>
    </form>
    <div id="hours-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Date . . . . . . . . . . . . . . . . . . . . Hours</p>

      <p style="color:#000000;">11-10-2019 . . . . . . . . . . . . . . . . 3.0</p>

      <p style="color:#000000;">11-11-2019 . . . . . . . . . . . . . . . . 3.5</p>

      <p style="color:#000000;">11-12-2019 . . . . . . . . . . . . . . . . 3.0</p>

      <p style="color:#000000;">11-16-2019 . . . . . . . . . . . . . . . . 3.0</p>

      <p style="color:#000000;">11-18-2019 . . . . . . . . . . . . . . . . 2.5</p>

      <p style="color:#000000;">11-19-2019 . . . . . . . . . . . . . . . . 2.0</p>

      <p style="color:#000000;">11-22-2019 . . . . . . . . . . . . . . . . 3.5</p>

      <p style="color:#000000;">11-23-2019 . . . . . . . . . . . . . . . . 3.0</p>

      <p style="color:#000000;">11-24-2019 . . . . . . . . . . . . . . . . 3.0</p>

      <p style="color:#000000;">11-25-2019 . . . . . . . . . . . . . . . . 4.0</p>

      <p style="color:#000000;">11-28-2019 . . . . . . . . . . . . . . . . 5.0</p>

      <p style="color:#000000;">11-29-2019 . . . . . . . . . . . . . . . . 3.5</p>
    </div>
  </ion-content>
</ion-view>