<ion-view title="LabDataverse" id="page1" style="background-color:#default;">
  <ion-content padding="true" class="has-header">
    <ion-list id="labDataverse-list2">
      <ion-item class="item-avatar positive" id="labDataverse-list-item4">
        <img src="img/I1aBzFlRSKu70moHxaIV_galaxy-trans.png">
        <h2positive>USE YOUR SKILLS!
          <p style="white-space:normal;">Accession.health is a sharing approach to making money as a qualified accessioner. Sign up, then accession specimens online, from your home or anywhere.</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-icon-left" id="labDataverse-list-item11" ui-sref="menu.signup()">
        <i class="icon ion-android-add"></i>Signup</ion-item>
      <ion-item class="item-icon-left" id="labDataverse-list-item13" ui-sref="menu.login()">
        <i class="icon ion-log-in"></i>Login or Logout</ion-item>
      <ion-item class="item-icon-left" id="labDataverse-list-item28" ui-sref="menu.message()">
        <i class="icon ion-ios-email"></i>Message an Employer</ion-item>
      <ion-item class="item-icon-left" id="labDataverse-list-item29" ui-sref="menu.hours()">
        <i class="icon ion-android-time"></i>Check Your Hours</ion-item>
      <ion-item class="item-icon-left" id="labDataverse-list-item30" ui-sref="menu.profile()">
        <i class="icon ion-android-person"></i>Your Profile</ion-item>
      <ion-item class="item-avatar" id="labDataverse-list-item14" ui-sref="menu.activity()">
        <img src="img/URCNcASNQgWZkiWrTNau_galaxy-trans.png">
        <h2>Start Working</h2>
        <p>Get Jobs and Make Money!</p>
      </ion-item>
      <ion-item class="item-divider" id="labDataverse-list-item-divider1"> </ion-item>
      <ion-item class="item-icon-left" id="labDataverse-list-item19" ui-sref="menu.quickUploader()">
        <i class="icon ion-ios-cloud-upload-outline"></i>Quick Uploader</ion-item>
    </ion-list>
  </ion-content>
</ion-view>