<ion-view title="Message" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="message-form6" class="list">
      <ion-item class="item-icon-left" id="message-list-item26">
        <i class="icon ion-email"></i>Send a message to an employer</ion-item>
      <label class="item item-select" id="message-select1">
        <span class="input-label">Select --&gt;</span>
        <select>
          <option>LabCorp</option>
          <option>Quest Diagnostics</option>
          <option>Mayo Clinic</option>
        </select>
      </label>
    </form>
    <form id="message-form7" class="list">
      <label class="item item-input" id="message-textarea1">
        <span class="input-label"></span><textarea placeholder="Enter your message"></textarea></label>
    </form>
    <button id="message-button5" style="text-align:right;" class="button button-positive">Send</button>
  </ion-content>
</ion-view>